.row {
    width: 14.7rem;
}

.card {
    font-family: 'Hammersmith One', sans-serif;
    animation: fadeInLeft;
    animation-duration: 2s;
}

.card-img {
    animation: bounce;
    animation-duration: 2s;
    animation-delay: 2s;
}

