.container-footer {
    background-color: #343A40 ;
    color: #FFF;
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 2px;
    min-height: 20vh;
    text-align: center;
    padding: 70px;
    width: 100%;
}
