.container-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loading {
    animation: fadeIn;
    animation-duration: 5s;
    color: white;
    font-size: 3em;
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 15px;
}